<div class="apply-block">
  <h3>Register your interest! Fill out the <a href="{{ '/apply' | prepend: site.baseurl }}">application form</a>.</h3>

  <ul>
    <li>The current PyNoon course has already started, but we'd love to see you at a future course.</li>
    <!-- <li>It is important that you commit to the full 10 weeks</li> -->
    <!-- <li>Aim to attend the full 2 hours most weeks (it really helps the learning!)</li> -->
    <li>Any questions? <a href="{{ '/contact' | prepend: site.baseurl }}">Contact us</a></li>
  </ul>
</div>
