<div class="apply-block">
  <h3>Register today! <a href="{{ '/courses' | prepend: site.baseurl }}">Find a course near you</a>.</h3>

  <ul>
    <li>Interested in running a course or any questions? <a href="{{ '/contact' | prepend: site.baseurl }}">Contact us</a></li>
    <!-- <li>The current PyNoon course has already started, but we'd love to see you at a future course.</li> -->
    <!-- <li>It is important that you commit to the full 10 weeks</li> -->
    <!-- <li>Aim to attend the full 2 hours most weeks (it really helps the learning!)</li> -->
  </ul>
</div>
