---
layout: default
---

<div class="home">

    {% include apply_block.html %}
    <br>

    {% include announcements.html %}
    <br>

    <h1>About {{ site.course_name }} <span style="font-size: 20px;color: #0006;">{% if site.course_semester %}/ {{ site.course_semester }} {% endif %}</span></h1>

    {% if site.course_description  %}
    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>
    {% endif %}

    {{ content }}

    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Previous Offerings</h2>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <div>
        <div>
            <!-- <h2>Instructors</h2> -->
            <!-- <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div> -->


        </div>

        <!--
        {% if site.data.people.teaching_assistants %}
        <div style="width:65%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Teaching Assistants</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif  %}
        -->
    </div>

    <!--
    <h2>Course Location</h2>
    <p style="font-weight: bold;">136 Fanshawe Street, Auckland CBD:</p>
    <iframe style="width: 100%; height: 350px;" src="https://www.openstreetmap.org/export/embed.html?bbox=174.7557717561722%2C-36.84738848547226%2C174.75931227207187%2C-36.84541377263039&amp;layer=mapnik&amp;marker=-36.846401135426404%2C174.757542014122"></iframe>
    -->
</div>
